<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Apar App Automation Test Suite">

	<listeners>
		<listener class-name="com.segma.retryAnalyzer.RetryTransformer" />
	</listeners>

	<test thread-count="2" name="Segma Automation Test Framework">
		<classes>

			<class name="com.segma.testcases.ConfigTest" />
			<class name="com.segma.testcases.Segma_Test" />
		
		</classes>
	</test>
</suite><!-- Suite -->
